* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100vh;
}
.bolim1 {
    /* display: none; */
}

.bolim1 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 16px;
}
.bolim1 nav label {
    font-size: 32px;
    color: black;
    text-shadow: 0 0 4px green;
}
.bolim1 nav input {
    border: none;
    outline: none;
    margin: 25px 0;
    background-color: rgb(187, 218, 141);
    font-size: 18px;
    height: 40px;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 0 0 4px greenyellow;
}
.bolim1 nav button {
    padding: 7px 30px;
    font-size: 22px;
    background-color: greenyellow;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 3px 10px green;
}

.bolim1 nav:nth-child(2) {
    display: none;
}
.bolim2 {
    display: none;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 30px 60px 130px 130px 130px;
    padding: 40px;
    background-color: rgba(245, 245, 245, 0.279);
    border-radius: 25px;
    
}
.bolim2 div {
    border: 1px solid black;
    text-align: center;
    line-height: 130px;
    box-shadow: inset 0 0 10px black;
    font-size: 60px;
    user-select: none;
    transition: 1s linear;
}
div:nth-child(1){
    transform-origin: right bottom ;
}
div:nth-child(2){
    transform-origin:  center bottom;
}
div:nth-child(3){
    transform-origin:  left bottom;
}
div:nth-child(4){
    transform-origin:  right center;
}
div:nth-child(6){
    transform-origin:  left center ;
}
div:nth-child(7){
    transform-origin: center right;
}
div:nth-child(8){
    transform-origin:   top center;
}
div:nth-child(9){
    transform-origin: center right;
}

.bolim3 {
    box-shadow: 0 0 5px green;
    border-radius: 20px;
    display: none;
    padding: 45px;
    background-color: rgba(172, 255, 47, 0.508);
    color: white;
}